<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Organograma – Servidores do Tocantins</title>
  <head>
      <link rel="stylesheet" href="css/main2.css">
  </head>
</head>
<body>

<header>
  <h1>Organograma dos Servidores do Estado do Tocantins</h1>
  <p>Visualização hierárquica por setor</p>
</header>

<div class="toolbar">
  <input type="text" id="searchBox" placeholder="Buscar setor, servidor ou numfunc…" autocomplete="off">
  <button class="btn" onclick="expandAll()">Expandir tudo</button>
  <button class="btn" onclick="collapseAll()">Recolher tudo</button>

  <!-- Painel de resultados de servidores -->
  <div id="searchResults"></div>
</div>

<div class="main-layout">
<!-- Árvore de setores -->
 <div id="treeContainer">
   <ul class="tree" id="treeRoot">
     <th:block th:each="setor : ${setores}">
       <li class="node" th:replace="~{setor :: setor(${setor})}"></li>
     </th:block>
   </ul>
 </div>


<!-- Layout: card à esquerda + árvore à direita -->

	<!-- Sidebar: um card por indicador usando o fragmento -->
	  <div class="sidebar-cards">

	    <div th:replace="~{indicadorCard :: indicadorCard(
	        titulo='Total de Proventos',
	        icone='💰',
	        id='ind-proventos')}">
	    </div>

	    <div th:replace="~{indicadorCard :: indicadorCard(
	        titulo='INSS Patronal',
	        icone='🏛️',
	        id='ind-inss')}">
	    </div>

	    <div  th:replace="~{indicadorCard :: indicadorCard(
	        titulo='Vale Alimentação',
	        icone='🍽️',
	        id='ind-alimentacao')}">
	    </div>

	    <div th:replace="~{indicadorCard :: indicadorCard(
	        titulo='Plano de Saúde',
	        icone='🏥',
	        id='ind-saude')}">
	    </div>

	    <div th:replace="~{indicadorCard :: indicadorCard(
	        titulo='Adicional de Chefia',
	        icone='📋',
	        id='ind-chefia')}">
	    </div>

	    <div th:replace="~{indicadorCard :: indicadorCard(
	        titulo='Função de Confiança',
	        icone='🔑',
	        id='ind-confianca')}">
	    </div>

	  </div>
	  </div>
  

 



<!--<div id="treeContainer">
  <ul class="tree" id="treeRoot">
    <th:block th:each="setor : ${setores}">
      <li class="node" th:replace="~{setor :: setor(${setor})}"></li>
    </th:block>
  </ul>
</div>-->


<script src="js/main.js"></script>
</body>
</html>
